# Basic
numpy
pandas
numba

# Qiskit
qiskit
qiskit_optimization
qiskit_ibm_runtime

# AQT
qiskit_aqt_provider

# Orca
torch
matplotlib

# Other Quantum Computing
pyqubo
dwave-ocean-sdk
dwave-tabu

# Others
pytest
pytest_httpx